PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE config(
                key text primary key,
                value text
            );
INSERT INTO "config" VALUES('activate_cards_dlg_splitter_state','None');
INSERT INTO "config" VALUES('activate_cards_dlg_state','None');
INSERT INTO "config" VALUES('active_plugins','set([])');
INSERT INTO "config" VALUES('add_cards_dlg_state','None');
INSERT INTO "config" VALUES('alignment','{}');
INSERT INTO "config" VALUES('asynchronous_database','False');
INSERT INTO "config" VALUES('author_email','''''');
INSERT INTO "config" VALUES('author_name','''''');
INSERT INTO "config" VALUES('background_colour','{}');
INSERT INTO "config" VALUES('backup_before_sync','True');
INSERT INTO "config" VALUES('backups_to_keep','10');
INSERT INTO "config" VALUES('browse_cards_dlg_sorting_warning_shown','False');
INSERT INTO "config" VALUES('browse_cards_dlg_splitter_1_state','None');
INSERT INTO "config" VALUES('browse_cards_dlg_splitter_2_state','None');
INSERT INTO "config" VALUES('browse_cards_dlg_state','None');
INSERT INTO "config" VALUES('browse_cards_dlg_table_settings','None');
INSERT INTO "config" VALUES('check_for_edited_local_media_files','True');
INSERT INTO "config" VALUES('clone_help_shown','False');
INSERT INTO "config" VALUES('compact_help_shown','False');
INSERT INTO "config" VALUES('configuration_dlg_state','PyQt4.QtCore.QByteArray(''\x01\xd9\xd0\xcb\x00\x01\x00\x00\x00\x00\x01\xe1\x00\x00\x00H\x00\x00\x03\xcb\x00\x00\x02m\x00\x00\x01\xeb\x00\x00\x00d\x00\x00\x03\xc1\x00\x00\x02c\x00\x00\x00\x00\x00\x00'')');
INSERT INTO "config" VALUES('cramming_order','0');
INSERT INTO "config" VALUES('cramming_store_state','True');
INSERT INTO "config" VALUES('current_tip','3');
INSERT INTO "config" VALUES('day_starts_at','3');
INSERT INTO "config" VALUES('dvipng','''dvipng -D 200 -T tight tmp.dvi''');
INSERT INTO "config" VALUES('edit_card_dlg_state','None');
INSERT INTO "config" VALUES('export_dir','''/home/mnemosyne''');
INSERT INTO "config" VALUES('export_format','None');
INSERT INTO "config" VALUES('find_duplicates_help_shown','False');
INSERT INTO "config" VALUES('first_run','False');
INSERT INTO "config" VALUES('font','{}');
INSERT INTO "config" VALUES('font_colour','{}');
INSERT INTO "config" VALUES('hide_pronunciation_field','{}');
INSERT INTO "config" VALUES('import_dir','''/home/mnemosyne''');
INSERT INTO "config" VALUES('import_extra_tag_names','''''');
INSERT INTO "config" VALUES('import_flash_dir','''/home/mnemosyne/.local/share/mnemosyne''');
INSERT INTO "config" VALUES('import_format','None');
INSERT INTO "config" VALUES('import_img_dir','''/home/mnemosyne/.local/share/mnemosyne''');
INSERT INTO "config" VALUES('import_plugin_dir','''/home/mnemosyne''');
INSERT INTO "config" VALUES('import_sound_dir','''/home/mnemosyne/.local/share/mnemosyne''');
INSERT INTO "config" VALUES('import_video_dir','''/home/mnemosyne/.local/share/mnemosyne''');
INSERT INTO "config" VALUES('interested_in_old_reps','True');
INSERT INTO "config" VALUES('is_last_used_tags_per_card_type','False');
INSERT INTO "config" VALUES('last_database','''default.db''');
INSERT INTO "config" VALUES('last_used_card_type_id','''''');
INSERT INTO "config" VALUES('last_used_tags','''''');
INSERT INTO "config" VALUES('last_used_tags_for_card_type_id','{}');
INSERT INTO "config" VALUES('latex','''latex -interaction=nonstopmode''');
INSERT INTO "config" VALUES('latex_postamble','''\\end{document}''');
INSERT INTO "config" VALUES('latex_preamble','''\n\\documentclass[12pt]{article}\n\\pagestyle{empty}\n\\begin{document}''');
INSERT INTO "config" VALUES('list_font','None');
INSERT INTO "config" VALUES('main_window_state','PyQt4.QtCore.QByteArray(''\x01\xd9\xd0\xcb\x00\x01\x00\x00\x00\x00\x01\xad\x00\x00\x004\x00\x00\x04\x11\x00\x00\x02V\x00\x00\x01\xb7\x00\x00\x00_\x00\x00\x04\x07\x00\x00\x02L\x00\x00\x00\x00\x00\x00'')');
INSERT INTO "config" VALUES('max_log_size_before_upload','64000');
INSERT INTO "config" VALUES('media_autoplay','True');
INSERT INTO "config" VALUES('media_controls','False');
INSERT INTO "config" VALUES('non_latin_font_size_increase','0');
INSERT INTO "config" VALUES('non_memorised_cards_in_hand','10');
INSERT INTO "config" VALUES('only_editable_when_answer_shown','False');
INSERT INTO "config" VALUES('password_for_sync_as_client','''''');
INSERT INTO "config" VALUES('plugins_dlg_state','None');
INSERT INTO "config" VALUES('port_for_sync_as_client','8512');
INSERT INTO "config" VALUES('preview_cards_dlg_state','None');
INSERT INTO "config" VALUES('previous_configuration_wdgt','2');
INSERT INTO "config" VALUES('previous_statistics_page','0');
INSERT INTO "config" VALUES('previous_variant_for_statistics_page','{}');
INSERT INTO "config" VALUES('randomise_new_cards','False');
INSERT INTO "config" VALUES('randomise_scheduled_cards','False');
INSERT INTO "config" VALUES('remote_access_password','u''mnemosyne''');
INSERT INTO "config" VALUES('remote_access_username','u''mnemosyne''');
INSERT INTO "config" VALUES('run_sync_server','True');
INSERT INTO "config" VALUES('run_web_server','True');
INSERT INTO "config" VALUES('save_after_n_reps','10');
INSERT INTO "config" VALUES('save_database_help_shown','False');
INSERT INTO "config" VALUES('science_server','''mnemosyne-proj.dyndns.org:80''');
INSERT INTO "config" VALUES('server_for_sync_as_client','''''');
INSERT INTO "config" VALUES('show_daily_tips','True');
INSERT INTO "config" VALUES('show_intervals','''never''');
INSERT INTO "config" VALUES('show_tags_during_review','True');
INSERT INTO "config" VALUES('showed_help_on_adding_tags','False');
INSERT INTO "config" VALUES('showed_help_on_double_clicking_sets','False');
INSERT INTO "config" VALUES('showed_help_on_renaming_sets','False');
INSERT INTO "config" VALUES('shown_backlog_help','False');
INSERT INTO "config" VALUES('shown_learn_new_cards_help','False');
INSERT INTO "config" VALUES('shown_schedule_help','False');
INSERT INTO "config" VALUES('single_database_help_shown','False');
INSERT INTO "config" VALUES('sort_column','None');
INSERT INTO "config" VALUES('sort_order','None');
INSERT INTO "config" VALUES('start_card_browser_sorted','False');
INSERT INTO "config" VALUES('started_add_edit_cards_n_times','0');
INSERT INTO "config" VALUES('started_browse_cards_n_times','0');
INSERT INTO "config" VALUES('statistics_dlg_state','None');
INSERT INTO "config" VALUES('sync_help_shown','False');
INSERT INTO "config" VALUES('sync_server_port','8512');
INSERT INTO "config" VALUES('tag_tree_wdgt_state','None');
INSERT INTO "config" VALUES('ui_language','''en''');
INSERT INTO "config" VALUES('upload_science_logs','True');
INSERT INTO "config" VALUES('user_id','''o6ymvbgqEAlabPriP0UOM5''');
INSERT INTO "config" VALUES('username_for_sync_as_client','''''');
INSERT INTO "config" VALUES('warned_about_learning_ahead','False');
INSERT INTO "config" VALUES('web_server_port','8513');
COMMIT;
